# {{ ansible_managed }}
[Interface]
PrivateKey = {{ wg_privatekey }}
Address = {{ wg_ip }}/24

[Peer]
PublicKey = {{ wg.server.publickey }}
AllowedIPs = {{ wg.server.net }}
Endpoint = {{ wg.server.ip }}:{{ wg.server.port }}
PersistentKeepalive = 25
